<!DOCTYPE html>
<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="row">

        <div class="row">
            <h1>Accuracy on train and dev dataset</h1>
            <div id="guage" class="col-md-6" style="width: 400px;height:300px;"></div>
            <div id="guage2" class="col-md-6" style="width: 400px;height:300px;"></div>
            <script type="text/javascript">
                $(function () {
                    // 基于准备好的dom，初始化echarts实例
                    let guageChart = echarts.init(document.getElementById('guage'));
                    let guageChart2 = echarts.init(document.getElementById('guage2'));
                    $.ajax({
                        url:'/getTask2Acc',
                        success:function (data) {
                            json_data=JSON.parse(data)
                            // 指定图表的配置项和数据
                            option = {
                                series: [{
                                    name: 'Machine Time',
                                    type: 'gauge',
                                    splitNumber: 10,
                                    axisLine: {
                                        lineStyle: {
                                            color: [
                                                [0.2, '#228b22'],
                                                [0.8, '#48b'],
                                                [1, '#ff4500']
                                            ],
                                            width: 8
                                        }
                                    },
                                    axisTick: {
                                        splitNumber: 10,
                                        length: 12,
                                        lineStyle: {
                                            color: 'auto'
                                        }
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: 'auto'
                                        }
                                    },
                                    splitLine: {
                                        show: true,
                                        length: 30,
                                        lineStyle: {
                                            color: 'auto'
                                        }
                                    },
                                    pointer: {
                                        width: 3
                                    },
                                    detail: {
                                        fontSize: 18,
                                        formatter: '{value}%',
                                        textStyle: {
                                            color: 'auto',
                                            fontWeight: 'bolder'
                                        }
                                    },
                                    data: [{
                                        value: json_data["trainAcc"],
                                        name: 'Train\n Accuracy',
                                    }]
                                }]
                            };

                            optionDevGauge = {
                                series: [{
                                    name: 'Machine Time',
                                    type: 'gauge',
                                    splitNumber: 10,
                                    axisLine: {
                                        lineStyle: {
                                            color: [
                                                [0.2, '#228b22'],
                                                [0.8, '#48b'],
                                                [1, '#ff4500']
                                            ],
                                            width: 8
                                        }
                                    },
                                    axisTick: {
                                        splitNumber: 10,
                                        length: 12,
                                        lineStyle: {
                                            color: 'auto'
                                        }
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: 'auto'
                                        }
                                    },
                                    splitLine: {
                                        show: true,
                                        length: 30,
                                        lineStyle: {
                                            color: 'auto'
                                        }
                                    },
                                    pointer: {
                                        width: 3
                                    },
                                    detail: {
                                        fontSize: 18,
                                        formatter: '{value}%',
                                        textStyle: {
                                            color: 'auto',
                                            fontWeight: 'bolder'
                                        }
                                    },
                                    data: [{
                                        value: json_data["devAcc"],
                                        name: 'Dev \n Accuracy',
                                    }]
                                }]
                            };
                            guageChart.setOption(option, true);
                            guageChart2.setOption(optionDevGauge, true);

                        }
                    })
                })
            </script>
        </div>

        <div class="row">
            <h1>Weight of 5 Best and 5 Worst features</h1>
            <div id="weight_feature" style="width: 2000px;height:300px;"></div>
            <script type="text/javascript">
                $(function () {
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('weight_feature'));
                    $.ajax({
                        url:'/getTask2Data',
                        success:function (data) {
                            json_data=JSON.parse(data)
                            // 指定图表的配置项和数据
                            var option = {
                                tooltip: {},
                                xAxis: {
                                    data: json_data['feature']
                                },
                                yAxis: {},
                                series: [{
                                    name: 'weight',
                                    type: 'bar',
                                    data: json_data['value']
                                }]
                            };
                            myChart.setOption(option);
                        }
                    })
                })
            </script>
        </div>
    </div>
{% endblock %}


