<!DOCTYPE html>
<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>REGISTER</h1>
        <form id="registration_form">

            <div>
                <input type="text" id="form_sname" name="" required="">
                <span class="error_form" id="sname_error_message"></span>
                <label>
                    Second Name
                </label>
            </div>
            <input type="submit" value="Register" name="">
        </form>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#sname_error_message").hide();
            var error_sname = false;

            $("#form_sname").focusout(function() {
                check_sname();});

            function countOfWord(str) {
                var count = 0; //计数
                //遍历整个字符串,判断前后两个字符是什么
                for(var i = 0; i < str.length - 1; i++) {
                    if(/[a-zA-Z]/.test(str[i]) && /[^a-zA-Z]/.test(str[i + 1])) {
                        //alert(str[i] + ", " + str[i + 1]);
                        count++;
                    }
                }
                return count;
            }

            function check_sname() {
                var sname = $("#form_sname").val()
                var res = countOfWord(sname)
                if (res>=2) {
                    $("#sname_error_message").hide();
                    $("#form_sname").css("border-bottom","2px solid #34F458");
                } else {
                    $("#sname_error_message").html("Query should be more than 2 words");
                    $("#sname_error_message").show();
                    $("#form_sname").css("border-bottom","2px solid #F90A0A");
                    error_fname = true;
                }
            }
        });
    </script>
{% endblock %}