<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link href="{{url_for('static',filename='css/default.css')}} " rel="stylesheet" />

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="{{url_for('static',filename='css/fontawesome-all.css')}} " rel="stylesheet" />
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="{{url_for('static',filename='css/bootstrap.css')}} " rel="stylesheet" />
    <link href="{{url_for('static',filename='css/font-awesome.css')}} " rel="stylesheet" />
    <link href="{{url_for('static',filename='css/basic.css')}} " rel="stylesheet" />
    <link href="{{url_for('static',filename='css/custom.css')}} " rel="stylesheet" />
    <link href="{{url_for('static',filename='css/bootstrap-fileupload.min.css')}} " rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/dropzone.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='js/jquery-1.10.2.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.min.js"></script>
    <script src="https://cdn.bootcss.com/wordcloud2.js/1.1.0/wordcloud2.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>


    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css' rel='stylesheet' type='text/css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <link href="{{url_for('static',filename='css/main.css')}} " rel="stylesheet" />

    {% if title %}
        <title>{{title}} - annotaiton </title>
    {% else %}
        <title></title>
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
{% for img in image_list %}
    <div class="col-md-12">
        <p>{{ img[1] }}</p>
        <img class="center-block" src="{{ url_for('static',filename=img[2])}}" width="100%">
    </div>
{% endfor %}
</body>
</html>