<!DOCTYPE html>
<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 10px;" >
            <form onsubmit="return check(this)">
                <div class="col-md-10">
                    <textarea id = "q_text"
                              style="border:0;border-radius:5px;padding: 10px;resize: none;" class="form-control" rows="5" placeholder="query"></textarea>
                    <div class="alert alert-danger" id="error" role="alert" style="display: none"></div>
                    <script type="text/javascript">
                        function countOfWord(str) {
                            var count = 0;
                            for(var i = 0; i < str.length - 1; i++) {
                                if(/[a-zA-Z]/.test(str[i]) && /[^a-zA-Z]/.test(str[i + 1])) {
                                    count++;
                                }
                            }
                            return count;
                        }
                        function check() {
                            var sname = $("#q_text").val()
                            var res = countOfWord(sname)
                            if (res>=2) {
                                $("#error").hide();
                                return true;
                            } else {
                                $("#error").html("Query should be more than 2 words");
                                $("#error").show();
                                return false;
                            }
                        }
                    </script>
                </div>
                <div class="col-md-2">
                    <button id = "btn" class="btn btn-primary">Analyse</button>
                </div>

                <script>
                    $("form").on('submit', function(event){
                        $.ajax({
                            url: "/predict2",
                            type: "POST",
                            data:{
                                text:$("#q_text").val()
                            }
                        })
                            .done(function(data){
                                option = {
                                    tooltip : {
                                        trigger: 'axis',
                                        axisPointer : {
                                            type : 'shadow'
                                        }
                                    },
                                    legend: {
                                        data:['Neg', 'Pos']
                                    },
                                    grid: {
                                        x:25,
                                        y:45,
                                        x2:5,
                                        y2:20,
                                        containLabel: true
                                    },
                                    xAxis : [
                                        {
                                            type : 'value'
                                        }
                                    ],
                                    yAxis : [
                                        {
                                            type : 'category',
                                            axisTick : {show: false},
                                            data : data.featurename
                                        }
                                    ],
                                    series : [
                                        {
                                            name:'Positive',
                                            type:'bar',
                                            stack: '总量',
                                            label: {
                                                normal: {
                                                    show: true
                                                }
                                            },
                                            data:data.goodvalue
                                        },
                                        {
                                            name:'Negative',
                                            type:'bar',
                                            stack: '总量',
                                            label: {
                                                normal: {
                                                    show: true,
                                                    position: 'left'
                                                }
                                            },
                                            data:data.badvalue
                                        }
                                    ]
                                };

                                let forceChart;
                                if(data.height<5){
                                    forceChart = echarts.init(document.getElementById('force_div1'));
                                    $("#force_div2").hide();
                                    $("#force_div3").hide();
                                }
                                else if(data.height>=5 && data.height<20){
                                    forceChart = echarts.init(document.getElementById('force_div2'));
                                    $("#force_div1").hide();
                                    $("#force_div3").hide();
                                }
                                else{
                                    forceChart = echarts.init(document.getElementById('force_div3'));
                                    $("#force_div1").hide();
                                    $("#force_div2").hide();
                                }
                                if(data.result=="POSITIVE"){
                                    $("#posresult").text(data.result).show();
                                    $("#negresult").hide();

                                    $("#pos_prob").text(data.posprob).show();
                                    $("#neg_prob").hide();

                                    $("#pos_face").css({'filter': 'blur(0px)','width':'150px','height':'150px'});
                                    $("#neg_face").css({'filter': 'blur(4px)','width':'100px','height':'100px'});

                                    $("#lime_data_neg").html(data.htmlDataNeg);
                                    $("#lime_data_pos").html(data.htmlDataPos);
                                    $("#shapforceID").show();
                                    forceChart.setOption(option, true);

                                }
                                else{
                                    $("#negresult").text(data.result).show();
                                    $("#posresult").hide();

                                    $("#neg_prob").text(data.negprob).show();
                                    $("#pos_prob").hide();

                                    $("#pos_face").css({'filter': 'blur(4px)','width':'100px','height':'100px'});
                                    $("#neg_face").css({'filter': 'blur(0px)','width':'150px','height':'150px'});

                                    $("#lime_data_neg").html(data.htmlDataNeg);
                                    $("#lime_data_pos").html(data.htmlDataPos);
                                    $("#shapforceID").show();
                                    forceChart.setOption(option, true);
                                }
                            });
                        event.preventDefault();
                    });
                </script>
            </form>
        </div>
        <div class="row" style="padding: 10px">
            <div class="col-md-6 border">
                <a href="#">
                    <img class="center-block" id="pos_face" style="filter: blur(4px);" src="{{ url_for('static',filename='pic/healthy.png') }}" height="100" width="100">
                </a>
                <p id="pos_prob" style ="display: none;font-size: 20px;color: black;text-align: center; width: 230px;margin-left: auto;margin-right: auto"></p>
            </div>
            <div class="col-md-6 border">
                <a href="#">
                    <img class="center-block" id="neg_face" style="filter: blur(4px);" src="{{ url_for('static',filename='pic/sick.png') }}" height="100" width="100">
                </a>
                <p id="neg_prob" style ="display: none;font-size: 20px;color: black;text-align: center; width: 230px;margin-left: auto;margin-right: auto"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="lime_data_neg"></div>
            <div class="col-md-6" id="lime_data_pos"></div>

        </div>
        <h1 style="display: none;" id="shapforceID">Shap Force</h1>
        <div id="force_div1" style="height:150px;width:1200px;"></div>
        <div id="force_div2" style="height:500px;width:1200px;"></div>
        <div id="force_div3" style="height:1000px;width:1200px"></div>
    </div>
{% endblock %}
